@import url(./reset.css);
@import url(./header.css);
@import url(./main.css);

:root {
    --Branco: #fff;
    --preto: #000;
    --cinza-opacidade-reduzida: rgb(156, 156, 156, 0.5);
    --cinza: rgb(156, 156, 156, 1);
    --cinza-hover: rgb(82, 77, 77);
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--preto);
}